<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthome_v2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppSettings"></activity>
        <activity android:name=".HomeSettings" />
        <activity android:name=".Settings" />
        <activity android:name=".elecPop"
            android:theme="@style/AppTheme.CustomTheme"
            />
        <activity android:name=".WeatherPop"
            android:theme="@style/AppTheme.CustomTheme"
            />
        <activity android:name=".aquaPop"
            android:theme="@style/AppTheme.CustomTheme"
            />
        <activity android:name=".gasPop"
            android:theme="@style/AppTheme.CustomTheme"
            />
        <activity android:name=".ghPop"
            android:theme="@style/AppTheme.CustomTheme"
            />
        <activity android:name=".alarmPop"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".blutPop"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".notiPop"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main_screen" />
        <activity android:name=".connection_settings" />
        <activity android:name=".gas" />
    </application>

</manifest>